/* DEFAULT OVERRIDES */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* LAYOUT */
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.message-list,
.chat-bar .message {
  flex: 1;
}

.message-list {
  overflow-y: scroll;
  height: 0px;
}

.message-list .message {
  display: flex;
  justify-content: space-between;
}

.chat-bar {
  display: flex;
}

.message-list,
.chat-bar {
  padding: 5px;
}

.message-list .message {
  margin: 20px 5px;
}

.chat-bar input {
  margin: 5px;
}

.header,
.message-list {
  padding: 10px;
}

/* FONTS */
.message-list .username {
  font-weight: bold;
}

.message-list .notification {
  text-align: center;
  font-style: italic;
}

/* COLORS */
.header,
.chat-bar {
  background-color: red;
}
